@charset "utf-8";
/* CSS Document */
#header/*id is uniek, maar 1 keer gebruiken*/
{
color: darkslategrey;
font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
background-color: #F5DEBF;
height: 150px;
padding-top: 40px;
padding-bottom: 20px;
padding-left: 40px;
padding-right: 50px;
margin:20px 70px 5px 70px;
border:1px solid black;/*rand*/
}
span
{
background-color: deeppink;
color:white;
}
#title
{
font-weight: 450;
font-size: 30px;
margin-bottom:20px;
}
nav
{
margin-top:10px;	
}
.recepten
{
float:left;
color: darkslategrey;
font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
margin:0px 50px 20px;/*top right bottom left*/
padding:50px;
width:18%;
}
.receptennaam
{
text-align: center;
margin-left: -40px;
padding:10px;
width:160%;
}
.image
{
height:auto;
}
.receptenlink
{
background-color: #F5DEBF;
text-align: center;
border:1px solid black;
width:140%;
padding:7px;
margin-top:15px;
margin-left:-9px;
}